{% extends 'base.html' %}
{% load static %}

{% block title %}{% endblock %}

{% block content %}
    <div class="hero bg-base-100">
        <div class="hero-content flex-col lg:flex-row">
          <img src="./img/main.jpg" class="max-w-sm rounded-lg shadow-2xl mr-10" />
          <div>
            <h1 class="text-5xl font-bold">Интернет-дәріхана apteka.kz</h1>
            <p class="py-6" style="text-align: justify;">
                Дәрі-дәрмектерге, медициналық мақсаттағы бұйымдарға, балаларға, аналарға, косметикаға және өмірді жеңілдететін заттарға Онлайн тапсырыс беру. Қазақстан бойынша жеткізу, қолдану жөніндегі нұсқаулықтар, аналогтар.
            </p>
            <button class="btn btn-info">Тауарларды қарау</button>
          </div>
        </div>
    </div>
{% endblock %}